{% extends 'layout.twig' %}

{% block content %}
    <div id="layoutAuthentication_content">
        <div class="container mb-5">
            <div class="row justify-content-center ">
                <div class="col-lg-5 mt-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Your Assistant</h3></div>
                        <div class="card-body">
                            <form method="post" action="auth">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputLogin">Логин</label>
                                    <input v-model="login" class="form-control py-4" id="inputLogin" type="text" placeholder="Введите логин"/>
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">Пароль</label>
                                    <input v-model="password" class="form-control py-4" id="inputPassword" type="password" placeholder="Введите пароль"/>
                                </div>
                                <div class="form-group d-flex justify-content-end mt-4 mb-0">
                                    <button @click="loginStart" type="button" name="auth" class="btn btn-primary">Войти</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center">
                            <transition name="fade">
                                <div v-if="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Неверный <b>Логин</b> или <b>Пароль</b>.
                                    <button @click="error = false" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="resources/js/login/login.js"></script>
{% endblock %}