<div class="modal fade" id="editUserCategory" tabindex="-1" role="dialog" aria-labelledby="editUserCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserCategoryTitle">Редактирование категории</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <label>Тип прокси</label>
                    <label>Категория</label>
                    <input type="text" class="form-control" v-model="editData.category" placeholder="Введите название категории">
                    <label>Город</label>
                    <input type="text" class="form-control" v-model="editData.section" placeholder="Введите название раздела">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button @click="editUserCategory()" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>