<div class="modal fade" id="editCategory" tabindex="-1" role="dialog" aria-labelledby="editCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createCategoryTitle">Редактирование страны</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <label>Тип прокси</label>
                    <select class="form-control"  v-model="editData.type_proxy">
                        <option value=0>Серверные</option>
                        <option value=1>Мобильные</option>
                    </select>
                    <label>Страна</label>
                    <input type="text" class="form-control" v-model="editData.name" placeholder="Введите название страны">
                    <label>Город</label>
                    <input type="text" class="form-control" v-model="editData.city" placeholder="Введите название города">
                    <div v-if="editData.type_proxy == 1">
                        <label>Мобильный оператор</label>
                        <input type="text" class="form-control" v-model="editData.mobile_operator" placeholder="Введите название мобильного оператора">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button @click="editCategory()" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Изменить</button>
                </div>

            </form>
        </div>
    </div>
</div>