<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Подробная информация</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>ID</b>: ${ userDetail.user_id ? userDetail.user_id : '—' }</p>
                <p><b>Имя</b>: ${ userDetail.first_name ? userDetail.first_name : '—' }</p>
                <p><b>Фамилия</b>: ${ userDetail.last_name ? userDetail.last_name : '—' }</p>
                <p><b>Имя пользователя</b>: ${ userDetail.username ? userDetail.username : '—' }</p>
                <p><b>По приглашению</b>:
                    <span v-if="userDetail.parent" @click="detailsUserParent(userDetail.parent)" class="text-primary">${ userDetail.parent }</span>
                    <span v-else>—</span>
                </p>
                <p><b>Количество приглашенных</b>: ${ userDetail.count_parent }</p>
                <p><b>Дата регистрации</b>: ${ userDetail._datetime }</p>
                <p v-if="userDetail.status < 0"><b>Статус</b>:<span class="text-danger"> Заблокирован</span></p>
                <p v-else><b>Статус</b>:<span class="text-success"> Активен</span></p>
                <hr>
                <div class="form-check">
                    <input v-model="statusUser" @change="statusUpdate" class="form-check-input" type="checkbox" id="status">
                    <label class="form-check-label" for="status">
                        (<span :class="{selected: isSelected}" class="text-danger">Заблокирован</span> | <span :class="{selected: !isSelected}" class="text-success">Разблокирован</span>)
                    </label>
                </div>
                <div class="form-check">
                    <input  v-model="deleteUser" class="form-check-input" type="checkbox" id="delete">
                    <label class="form-check-label" for="delete"><span class="text-danger">Удалить</span></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button @click="updateUser(userDetail.user_id, paginate.pageActive)" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Сохранить</button>
            </div>
        </div>
    </div>
</div>