<div class="modal fade" id="editCurrent" tabindex="-1" role="dialog" aria-labelledby="editCurrentTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCurrentTitle">Редактирование настройки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Количество дней</label>
                            <input type="number" v-model="editData.count_day" class="form-control" placeholder="Введите количество дней">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Сумма в рублях</label>
                            <input type="number" v-model="editData.sum" class="form-control" placeholder="Введите сумму в рублях">
                        </div>
                    </div>

                    <label>Тип прокси</label>
                    <select class="form-control"  v-model="editData.type_proxy">
                        <option value=0>Серверные</option>
                        <option value=1>Мобильные</option>
                    </select>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Город + Страна <span v-if="editData.type_proxy == 1"> + Оператор</span></label>
                            <select  v-model="editData.country_id" class="form-control">
                                <option disabled value="">Выберите необходимое значение</option>
                                <option v-if="editData.type_proxy == country.type_proxy" :value="country.id" v-for="country in data.countries">
                                    ${country.name} -> ${country.city}  ${editData.type_proxy == 1 ? ' -> ' + country.mobile_operator : ''}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Категория + Раздел</label>
                            <select  v-model="editData.category_id" class="form-control">
                                <option disabled value="">Выберите необходимое значение</option>
                                <option :value="category.id" v-for="category in data.categories">${category.category} ${category.section ? ' -> ' + category.section : ''}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Тип прокси</label>
                            <select  v-model="editData.private" class="form-control">
                                <option disabled value="">Выберите необходимое значение</option>
                                <option :value="private.value" v-for="private in data.arrTypeProxy">${private.name}</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Протокол</label>
                            <select  v-model="editData.protocol" class="form-control">
                                <option disabled value="">Выберите необходимое значение</option>
                                <option :value="protocol.value" v-for="protocol in data.arrProtocolsProxy">${protocol.name}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button @click="updateCurrently()" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>