
<div class="d-flex justify-content-center none mt-3" v-if="paginate.countPages > 1">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item" v-if="paginate.pageBack">
                <a @click="onChangeFilters(paginate.pageBack)" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li v-for="n in paginate.endPages" v-if="n >= paginate.startPages" :class="n == paginate.pageActive ? 'active' : ''" class="page-item">
                <a @click="onChangeFilters(n)" class="page-link">${ n }</a>
            </li>
            <li v-if="paginate.pageNext" class="page-item">
                <a @click="onChangeFilters(paginate.pageNext)" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

