<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark d-flex justify-content-between">
    <a class="navbar-brand logo" href="/">
        <img src="{{ data.url }}/resources/images/favicon.png" alt="Logo" class="logo">
        <span class="ml-1 text-secondary"><b>Your Assistant</b></span>
    </a>
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item {{ data.title == 'Пользователи' ? 'active' : '' }}" href="{{ data.url }}/user">Пользователи</a>
                <a class="dropdown-item {{ data.title == 'Рассылка' ? 'active' : '' }}" href="{{ data.url }}/letter">Рассылка</a>
                <a class="dropdown-item {{ data.title == 'Бот' ? 'active' : '' }}" href="{{ data.url }}/bot">Бот</a>
                <a class="dropdown-item {{ data.title == 'Категории' ? 'active' : '' }}" href="{{ data.url }}/category">Категории</a>
                <a class="dropdown-item {{ data.title == 'Сервера' or data.title == 'Добавить сервер' or data.title == 'Редактировать сервер' ? 'active' : '' }}" href="{{ data.url }}/servers">Сервера</a>
                <a class="dropdown-item {{ data.title == 'Прокси' or data.title == 'Создать прокси' or data.title == 'Редактировать прокси' ? 'active' : '' }}" href="{{ data.url }}/proxy">Прокси</a>
                <a class="dropdown-item {{ data.title == 'Настройка цен' ? 'active' : '' }}" href="{{ data.url }}/currently">Настройка цен</a>
                {% if data.admin == 1 %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item {{ data.title == 'Магазины' ? 'active' : '' }}" href="{{ data.url }}/settings">Магазины</a>
                    <a class="dropdown-item {{ data.title == 'Настройки' ? 'active' : '' }}" href="{{ data.url }}/settings">Настройки</a>
                {% endif %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ data.url }}/exit">Выйти</a>
            </div>
        </li>
    </ul>
</nav>
