<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if data.css  %}
        <link rel="stylesheet" href="{{ data.url }}/resources/css/{{ data.css }}">
    {% endif %}

    <link rel="shortcut icon" href="{{ data.url }}/resources/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% block head %}{% endblock %}
    <title>{{ data.title }}</title>
    <style>

        .btn-circle {
            width: 38px;
            height: 38px;
            border-radius: 19px;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            font-size: 16px;
        }


    </style>
</head>
<body class="{{ data.isAuth ? 'bodyAuth' : 'bodyLogin' }}" >
    <div id="app">
        <div :class="{loadOk: loader}" class="wrapper_hide none">
            <img src="{{ data.url }}/resources/images/loading-small.gif" alt="loader">
        </div>
        <transition name="fade">
            <div class="toast none" v-if="info" :class="{loadOk: info}">
                <div class="toast-header">
                    <img src="{{ data.url }}/resources/images/favicon.png" class="rounded mr-2" alt="logo">
                    <strong class="mr-auto">${ head_info }</strong>
                    <button @click="closeToast" type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div v-html="text_info" :class="error_class === true ? 'toast-body alert-danger' : 'toast-body'"></div>
            </div>
        </transition>
        {% if data.isAuth %}
            {% include 'header.twig' %}
        {% endif %}
        <div class="content col-12 col-lg-12">
            {% if data.isAuth %}
                <div class="header-h3 d-flex mt-5">
                    <div></div>
                    <h3>{{ data.title }}</h3>
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% block modal %}{% endblock %}
    </div>
</body>
<script src="{{ data.url }}/resources/js/app.js"></script>
{% block footer %}{% endblock %}
<link rel="stylesheet" href="{{ data.url }}/resources/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
</html>