<div class="modal fade" id="deleteProxy" tabindex="-1" role="dialog" aria-labelledby="deleteProxyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteProxyTitle">Вы действиетльно хотите удалить прокси? Это действие необратимое.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <button @click="deleteProxy()" type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Да</button>
                </div>

            </form>
        </div>
    </div>
</div>