<div class="modal fade" id="importProxy" tabindex="-1" role="dialog" aria-labelledby="importProxyTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importProxyTitle">Импорт прокси</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="importForm">
                <div class="modal-body">
                    <label>Прикрепите .csv файл</label>
                    <div class="custom-file">
                        <input @change="previewFiles" ref="file"  type="file" class="custom-file-input" id="customFile" name="file" value="Выбрать">
                        <label ref="labelImg" class="custom-file-label" for="customFile">Выбрите файл</label>
                    </div>

                    <div class="m-2">
                        <a target="_blank" :href="typeProxy == 1 ? '#' : '#'">Скачать пример файла</a>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    <button @click="importProxy()" type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Загрузить</button>
                </div>

            </form>
        </div>
    </div>
</div>