
    /************************
Designed by : http://responsivewebinc.com
************************/
    /* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600');
/* General */

h4,
h5,
h6 {
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 2px 0px;
    padding: 0px;
}

h4 {
    font-size: 18px;
    line-height: 33px;
}
h5 {
    font-size: 15px;
    line-height: 30px;
}
h6 {
    font-size: 13px;
    line-height: 28px;
}
p {
    margin: 2px 0px;
    padding: 0px;
    margin-bottom:5px;
    line-height:28px;
}
a{
    text-decoration: none;
    color: #777;
}
a:hover,a:active,a:focus {
    outline: 0;
    text-decoration: none;
    color: #999;
}
hr {
    margin: 10px 0px;
    padding: 0px;
    border-top: 0px;
    border-bottom: 1px solid #eee;
}
:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
/* Text color classes */
.white {
    color: #ffffff !important;
}
.grey {
    color: #eeeeee !important;
}
.black {
    color: #555555 !important;
}
.red {
    color: #f75353 !important;
}
.green {
    color: #51d466 !important;
}
.lblue {
    color: #32c8de !important;
}
.blue {
    color: #609cec !important;
}
.orange {
    color: #f78153 !important;
}
.yellow {
    color: #fcd419 !important;
}
.purple {
    color: #cb79e6 !important;
}
.rose {
    color: #ff61e7 !important;
}
.brown {
    color: #d08166 !important;
}
/* Background color classes */
.bg-white {
    background-color: #ffffff !important;
}
.bg-grey {
    background-color: #eeeeee !important;
}
.bg-black {
    background-color: #555555 !important;
}
.bg-red {
    background-color: #f75353 !important;
}
.bg-green {
    background-color: #51d466 !important;
}
.bg-lblue {
    background-color: #32c8de !important;
}
.bg-blue {
    background-color: #609cec !important;
}
.bg-orange {
    background-color: #f78153 !important;
}
.bg-yellow {
    background-color: #fcd419 !important;
}
.bg-purple {
    background-color: #cb79e6 !important;
}
.bg-rose {
    background-color: #ff61e7 !important;
}
.bg-brown {
    background-color: #d08166 !important;
}
/* Border color classes */
.br-white {
    border: 1px solid #ffffff !important;
}
.br-grey {
    border: 1px solid #eeeeee;
}
.br-black {
    border: 1px solid #555555;
}
.br-red {
    border: 1px solid #f75353;
}
.br-green {
    border: 1px solid #51d466;
}
.br-lblue {
    border: 1px solid #32c8de;
}
.br-blue {
    border: 1px solid #609cec;
}
.br-orange {
    border: 1px solid #f78153;
}
.br-yellow {
    border: 1px solid #fcd419;
}
.br-purple {
    border: 1px solid #cb79e6;
}
.br-rose {
    border: 1px solid #ff61e7;
}
.br-brown {
    border: 1px solid #d08166;
}
/* Button classes */
.btn {
    border-radius: 2px;
    position: relative;
}
.btn.btn-no-border {
    border: 0px !important;
}
/* Button colors */
.btn.btn-white {
    background: #ffffff;
    color: #666666;
    border: 1px solid #dddddd;
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active {
    background: #f7f7f7;
    color: #666666;
}
.btn.btn-grey {
    background: #eeeeee;
    color: #666666;
    border: 1px solid #d5d5d5;
}
.btn.btn-grey:hover,
.btn.btn-grey:focus,
.btn.btn-grey.active,
.btn.btn-grey:active {
    background: #d5d5d5;
    color: #999;
}
.btn.btn-black {
    color: #ffffff;
    background: #666666;
    border: 1px solid #4d4d4d;
}
.btn.btn-black:hover,
.btn.btn-black:focus,
.btn.btn-black.active,
.btn.btn-black:active {
    background: #4d4d4d;
    color: #ffffff;
}
.btn.btn-red {
    color: #ffffff;
    background: #ed5441;
    border: 1px solid #e52d16;
}
.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red.active,
.btn.btn-red:active {
    color: #ffffff;
    background: #e52d16;
}
.btn.btn-green {
    color: #ffffff;
    background: #51d466;
    border: 1px solid #30c247;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
    background: #30c247;
    color: #ffffff;
}
.btn.btn-lblue {
    color: #ffffff;
    background: #32c8de;
    border: 1px solid #1faabe;
}
.btn.btn-lblue:hover,
.btn.btn-lblue:focus,
.btn.btn-lblue.active,
.btn.btn-lblue:active {
    background: #1faabe;
    color: #ffffff;
}
.btn.btn-blue {
    color: #ffffff;
    background: #609cec;
    border: 1px solid #3280e7;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus,
.btn.btn-blue.active,
.btn.btn-blue:active {
    background: #3280e7;
    color: #ffffff;
}
.btn.btn-orange {
    color: #ffffff;
    background: #f8a841;
    border: 1px solid #f69110;
}
.btn.btn-orange:hover,
.btn.btn-orange:focus,
.btn.btn-orange.active,
.btn.btn-orange:active {
    background: #f69110;
    color: #ffffff;
}
.btn.btn-yellow {
    background: #fcd419;
    color: #ffffff;
    border: 1px solid #dfb803;
}
.btn.btn-yellow:hover,
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:active {
    background: #dfb803;
    color: #ffffff;
}
.btn.btn-purple {
    background: #cb79e6;
    color: #ffffff;
    border: 1px solid #ba4ede;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus,
.btn.btn-purple.active,
.btn.btn-purple:active {
    background: #ba4ede;
    color: #ffffff;
}
.btn.btn-rose {
    background: #ff61e7;
    color: #ffffff;
    border: 1px solid #ff2edf;
}
.btn.btn-rose:hover,
.btn.btn-rose:focus,
.btn.btn-rose.active,
.btn.btn-rose:active {
    background: #ff2edf;
    color: #ffffff;
}
.btn.btn-brown {
    background: #d08166;
    color: #ffffff;
    border: 1px solid #c4613f;
}
.btn.btn-brown:hover,
.btn.btn-brown:focus,
.btn.btn-brown.active,
.btn.btn-brown:active {
    background: #c4613f;
    color: #ffffff;
}
/* Label */
.label {
    border-radius: 2px;
    font-weight: normal;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
}
/* Label sizes */
.label.label-xs {
    font-size: 10px;
    padding: 1px 5px;
    line-height: 12px;
}
.label.label-sm {
    font-size: 11px;
    padding: 2px 6px;
    line-height: 15px;
}
.label.label-lg {
    font-size: 13px;
    padding: 5px 9px;
    line-height: 23px;
}
/* Label colors */
.label.label-white{
    color: #666666 !important;
    background: #f7f7f7;
}
.label.label-grey {
    color: #666666 !important;
    background: #eeeeee;
}
.label.label-black {
    color: #ffffff;
    background: #666666;
}
.label.label-red {
    color: #ffffff;
    background: #ed5441;
}
.label.label-green {
    color: #ffffff;
    background: #51d466;
}
.label.label-lblue {
    color: #ffffff;
    background: #32c8de;
}
.label.label-blue {
    color: #ffffff;
    background: #609cec;
}
.label.label-orange {
    color: #ffffff;
    background: #f8a841;
}
.label.label-yellow {
    background: #fcd419;
    color: #ffffff;
}
.label.label-purple {
    background: #cb79e6;
    color: #ffffff;
}
.label.label-rose {
    background: #ff61e7;
    color: #ffffff;
}
.label.label-brown {
    background: #d08166;
    color: #ffffff;
}
/* Badges */
.badge {
    min-width: 10px;
    padding: 3px 7px !important;
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    display: inline-block;
    color: #fff;
    border-radius: 10px;
}
.badge.badge-white {
    color: #666666;
    background: #ffffff;
}
.badge.badge-grey {
    color: #a2a2a2;
    background: #eeeeee;
}
.badge.badge-black {
    color: #ffffff;
    background: #666666;
}
.badge.badge-red {
    color: #ffffff;
    background: #ed5441;
}
.badge.badge-green {
    color: #ffffff;
    background: #51d466;
}
.badge.badge-lblue {
    color: #ffffff;
    background: #32c8de;
}
.badge.badge-blue {
    color: #ffffff;
    background: #609cec;
}
.badge.badge-orange {
    color: #ffffff;
    background: #f8a841;
}
.badge.badge-yellow {
    color: #ffffff;
    background: #fcd419;
}
.badge.badge-purple {
    color: #ffffff;
    background: #cb79e6;
}
.badge.badge-rose {
    color: #ffffff;
    background: #ff61e7;
}
.badge.badge-brown {
    color: #ffffff;
    background: #d08166;
}
.btn .badge {
    position: absolute;
    top: -13px;
    right: -8px;
}
/* Social Media */
.facebook {	background: #3280e7; }
.facebook:hover { background: #134fa0; }
.twitter { background: #32c8de;}
.twitter:hover {	background: #188392;}
.google-plus {background: #f96f4a;}
.google-plus:hover {	background: #eb6440;}
.linkedin  {	background: #729fda;}
.linkedin:hover {background: #3069b6;}
.pinterest {	background: #ed5441;}
.pinterest:hover { background: #b72411;}
.dropbox {background: #32c8de;}
.dropbox:hover {	background: #188392;}
.bitcoin {background: #f8a841;}
.bitcoin:hover {	background: #cc7607;}
.foursquare {background: #22bed4;}
.foursquare:hover {background: #146f7c;}
.flickr { background: #ff61e7;}
.flickr:hover {	background: #fa00d4;}
.github {background: #666666;}
.github:hover {	background: #333333;}
.instagram {	background: #d6917a;}
.instagram:hover {background: #b35637;}
.skype {background: #32c8de;}
.skype:hover {background: #188392;}
.tumblr {background: #84a1c8;}
.tumblr:hover {background: #476d9f;}
.vimeo {background: #32c8de;}
.vimeo:hover {background: #188392;}
.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}
.youtube {background: #ed5441;}
.youtube:hover {	background: #b72411;}

/* General CSS */
body{
    background:#f4f8fd;
}
/* UI - X */
.ui-178{
    margin:60px 0px;
}
/* Column Mobile */
@media(max-width: 500px){
    .ui-178 .col-mob{
        width:100%;
    }
}
/* Main Item */
.ui-178 .ui-item{
    max-width:350px;
    border:1px solid #ddd;
    box-shadow:2px 2px 0px 1px rgba(0,0,0,0.07);
    border-radius:4px;
    margin:20px auto;
    background:#fff;
}
/* User Details */
.ui-178 .ui-item .ui-user{
    padding:15px;
    border-bottom:1px solid #ddd;
    position:relative;
}
/* User Image */
.ui-178 .ui-user a > img{
    width:45px;
    border-radius:100%;
    float:left;
}
/* User Name */
.ui-178 .ui-user h2{
    font-size:15px;
    line-height:21px;
    margin-left:62px;
}
/* Designation */
.ui-178 .ui-user h2 span{
    display:block;
    font-size:13px;
    line-height:21px;
    color:#aaa;
    font-weight:400;
    text-transform:lowercase;
}
/* Social Media */
.ui-178 .ui-user .social{
    position:absolute;
    top:-14px;
    right:10px;
}
/* Icon */
.ui-178 .ui-user .social a > i{
    width:28px;
    height:28px;
    border-radius:100%;
    line-height:28px;
    color:#fff;
    text-align:center;
}
/* Skills */
.ui-178 .ui-item .ui-skills{
    padding:8px 20px 0px;
    background:#fcfcfc;
    border-bottom:1px solid #ddd;
}
/* Column Mobile */
@media(max-width: 600px) and (min-width: 500px){
    .ui-178 .ui-item .ui-skills .col-mob{
        width:100%;
    }
}
@media(max-width: 500px){
    .ui-178 .ui-item .ui-skills .col-mob{
        width:50%;
    }
}
@media(max-width: 300px){
    .ui-178 .ui-item .ui-skills .col-mob{
        width:100%;
    }
}
/* Skills Item */
.ui-178 .ui-item .ui-skills .uis-item{
    max-width:246px;
}
/* Heading */
.ui-178 .ui-item .ui-skills .uis-item h4{
    font-size:13px;
    line-height:23px;
    margin:0px 0px 2px;
}
/* Progress */
.ui-178 .ui-item .ui-skills .uis-item .progress{
    height:5px;
}
/* Progress Bar */
.ui-178 .ui-item .ui-skills .uis-item .progress-bar{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/* Details */
.ui-178 .ui-item .ui-chart{
    padding:10px 15px 12px;
    border-bottom:1px solid #eee;
}
.ui-178 .ui-chart h4{
    font-size:13px;
    line-height:23px;
    text-transform:uppercase;
    margin-bottom:10px;
}
.ui-178 .ui-chart .chart-placeholder{
    width: 100%;
    height: 150px;
}


    a{
        text-decoration: none;
        color: #777;
    }
    a:hover,a:active,a:focus {
        outline: 0;
        text-decoration: none;
        color: #999;
    }
    hr {
        margin: 10px 0px;
        padding: 0px;
        border-top: 0px;
        border-bottom: 1px solid #eee;
    }
    :focus {
        outline:none;
    }
    ::-moz-focus-inner {
        border:0;
    }
    /* Text color classes */
    .white {
        color: #ffffff !important;
    }
    .grey {
        color: #eeeeee !important;
    }
    .black {
        color: #555555 !important;
    }
    .red {
        color: #f75353 !important;
    }
    .green {
        color: #51d466 !important;
    }
    .lblue {
        color: #32c8de !important;
    }
    .blue {
        color: #609cec !important;
    }
    .orange {
        color: #f78153 !important;
    }
    .yellow {
        color: #fcd419 !important;
    }
    .purple {
        color: #cb79e6 !important;
    }
    .rose {
        color: #ff61e7 !important;
    }
    .brown {
        color: #d08166 !important;
    }
    /* Background color classes */
    .bg-white {
        background-color: #ffffff !important;
    }
    .bg-grey {
        background-color: #eeeeee !important;
    }
    .bg-black {
        background-color: #555555 !important;
    }
    .bg-red {
        background-color: #f75353 !important;
    }
    .bg-green {
        background-color: #51d466 !important;
    }
    .bg-lblue {
        background-color: #32c8de !important;
    }
    .bg-blue {
        background-color: #609cec !important;
    }
    .bg-orange {
        background-color: #f78153 !important;
    }
    .bg-yellow {
        background-color: #fcd419 !important;
    }
    .bg-purple {
        background-color: #cb79e6 !important;
    }
    .bg-rose {
        background-color: #ff61e7 !important;
    }
    .bg-brown {
        background-color: #d08166 !important;
    }
    /* Border color classes */
    .br-white {
        border: 1px solid #ffffff !important;
    }
    .br-grey {
        border: 1px solid #eeeeee;
    }
    .br-black {
        border: 1px solid #555555;
    }
    .br-red {
        border: 1px solid #f75353;
    }
    .br-green {
        border: 1px solid #51d466;
    }
    .br-lblue {
        border: 1px solid #32c8de;
    }
    .br-blue {
        border: 1px solid #609cec;
    }
    .br-orange {
        border: 1px solid #f78153;
    }
    .br-yellow {
        border: 1px solid #fcd419;
    }
    .br-purple {
        border: 1px solid #cb79e6;
    }
    .br-rose {
        border: 1px solid #ff61e7;
    }
    .br-brown {
        border: 1px solid #d08166;
    }
    /* Button classes */
    .btn {
        border-radius: 2px;
        position: relative;
    }
    .btn.btn-no-border {
        border: 0px !important;
    }
    /* Button colors */
    .btn.btn-white {
        background: #ffffff;
        color: #666666;
        border: 1px solid #dddddd;
    }
    .btn.btn-white:hover,
    .btn.btn-white:focus,
    .btn.btn-white.active,
    .btn.btn-white:active {
        background: #f7f7f7;
        color: #666666;
    }
    .btn.btn-grey {
        background: #eeeeee;
        color: #666666;
        border: 1px solid #d5d5d5;
    }
    .btn.btn-grey:hover,
    .btn.btn-grey:focus,
    .btn.btn-grey.active,
    .btn.btn-grey:active {
        background: #d5d5d5;
        color: #999;
    }
    .btn.btn-black {
        color: #ffffff;
        background: #666666;
        border: 1px solid #4d4d4d;
    }
    .btn.btn-black:hover,
    .btn.btn-black:focus,
    .btn.btn-black.active,
    .btn.btn-black:active {
        background: #4d4d4d;
        color: #ffffff;
    }
    .btn.btn-red {
        color: #ffffff;
        background: #ed5441;
        border: 1px solid #e52d16;
    }
    .btn.btn-red:hover,
    .btn.btn-red:focus,
    .btn.btn-red.active,
    .btn.btn-red:active {
        color: #ffffff;
        background: #e52d16;
    }
    .btn.btn-green {
        color: #ffffff;
        background: #51d466;
        border: 1px solid #30c247;
    }
    .btn.btn-green:hover,
    .btn.btn-green:focus,
    .btn.btn-green.active,
    .btn.btn-green:active {
        background: #30c247;
        color: #ffffff;
    }
    .btn.btn-lblue {
        color: #ffffff;
        background: #32c8de;
        border: 1px solid #1faabe;
    }
    .btn.btn-lblue:hover,
    .btn.btn-lblue:focus,
    .btn.btn-lblue.active,
    .btn.btn-lblue:active {
        background: #1faabe;
        color: #ffffff;
    }
    .btn.btn-blue {
        color: #ffffff;
        background: #609cec;
        border: 1px solid #3280e7;
    }
    .btn.btn-blue:hover,
    .btn.btn-blue:focus,
    .btn.btn-blue.active,
    .btn.btn-blue:active {
        background: #3280e7;
        color: #ffffff;
    }
    .btn.btn-orange {
        color: #ffffff;
        background: #f8a841;
        border: 1px solid #f69110;
    }
    .btn.btn-orange:hover,
    .btn.btn-orange:focus,
    .btn.btn-orange.active,
    .btn.btn-orange:active {
        background: #f69110;
        color: #ffffff;
    }
    .btn.btn-yellow {
        background: #fcd419;
        color: #ffffff;
        border: 1px solid #dfb803;
    }
    .btn.btn-yellow:hover,
    .btn.btn-yellow:focus,
    .btn.btn-yellow.active,
    .btn.btn-yellow:active {
        background: #dfb803;
        color: #ffffff;
    }
    .btn.btn-purple {
        background: #cb79e6;
        color: #ffffff;
        border: 1px solid #ba4ede;
    }
    .btn.btn-purple:hover,
    .btn.btn-purple:focus,
    .btn.btn-purple.active,
    .btn.btn-purple:active {
        background: #ba4ede;
        color: #ffffff;
    }
    .btn.btn-rose {
        background: #ff61e7;
        color: #ffffff;
        border: 1px solid #ff2edf;
    }
    .btn.btn-rose:hover,
    .btn.btn-rose:focus,
    .btn.btn-rose.active,
    .btn.btn-rose:active {
        background: #ff2edf;
        color: #ffffff;
    }
    .btn.btn-brown {
        background: #d08166;
        color: #ffffff;
        border: 1px solid #c4613f;
    }
    .btn.btn-brown:hover,
    .btn.btn-brown:focus,
    .btn.btn-brown.active,
    .btn.btn-brown:active {
        background: #c4613f;
        color: #ffffff;
    }
    /* Label */
    .label {
        border-radius: 2px;
        font-weight: normal;
        padding: 3px 7px;
        font-size: 12px;
        line-height: 18px;
    }
    /* Label sizes */
    .label.label-xs {
        font-size: 10px;
        padding: 1px 5px;
        line-height: 12px;
    }
    .label.label-sm {
        font-size: 11px;
        padding: 2px 6px;
        line-height: 15px;
    }
    .label.label-lg {
        font-size: 13px;
        padding: 5px 9px;
        line-height: 23px;
    }
    /* Label colors */
    .label.label-white{
        color: #666666 !important;
        background: #f7f7f7;
    }
    .label.label-grey {
        color: #666666 !important;
        background: #eeeeee;
    }
    .label.label-black {
        color: #ffffff;
        background: #666666;
    }
    .label.label-red {
        color: #ffffff;
        background: #ed5441;
    }
    .label.label-green {
        color: #ffffff;
        background: #51d466;
    }
    .label.label-lblue {
        color: #ffffff;
        background: #32c8de;
    }
    .label.label-blue {
        color: #ffffff;
        background: #609cec;
    }
    .label.label-orange {
        color: #ffffff;
        background: #f8a841;
    }
    .label.label-yellow {
        background: #fcd419;
        color: #ffffff;
    }
    .label.label-purple {
        background: #cb79e6;
        color: #ffffff;
    }
    .label.label-rose {
        background: #ff61e7;
        color: #ffffff;
    }
    .label.label-brown {
        background: #d08166;
        color: #ffffff;
    }
    /* Badges */
    .badge {
        min-width: 10px;
        padding: 3px 7px !important;
        font-size: 12px;
        line-height: 12px;
        font-weight: normal;
        display: inline-block;
        color: #fff;
        border-radius: 10px;
    }
    .badge.badge-white {
        color: #666666;
        background: #ffffff;
    }
    .badge.badge-grey {
        color: #a2a2a2;
        background: #eeeeee;
    }
    .badge.badge-black {
        color: #ffffff;
        background: #666666;
    }
    .badge.badge-red {
        color: #ffffff;
        background: #ed5441;
    }
    .badge.badge-green {
        color: #ffffff;
        background: #51d466;
    }
    .badge.badge-lblue {
        color: #ffffff;
        background: #32c8de;
    }
    .badge.badge-blue {
        color: #ffffff;
        background: #609cec;
    }
    .badge.badge-orange {
        color: #ffffff;
        background: #f8a841;
    }
    .badge.badge-yellow {
        color: #ffffff;
        background: #fcd419;
    }
    .badge.badge-purple {
        color: #ffffff;
        background: #cb79e6;
    }
    .badge.badge-rose {
        color: #ffffff;
        background: #ff61e7;
    }
    .badge.badge-brown {
        color: #ffffff;
        background: #d08166;
    }
    .btn .badge {
        position: absolute;
        top: -13px;
        right: -8px;
    }
    /* Social Media */
    .facebook {	background: #3280e7; }
    .facebook:hover { background: #134fa0; }
    .twitter { background: #32c8de;}
    .twitter:hover {	background: #188392;}
    .google-plus {background: #f96f4a;}
    .google-plus:hover {	background: #eb6440;}
    .linkedin  {	background: #729fda;}
    .linkedin:hover {background: #3069b6;}
    .pinterest {	background: #ed5441;}
    .pinterest:hover { background: #b72411;}
    .dropbox {background: #32c8de;}
    .dropbox:hover {	background: #188392;}
    .bitcoin {background: #f8a841;}
    .bitcoin:hover {	background: #cc7607;}
    .foursquare {background: #22bed4;}
    .foursquare:hover {background: #146f7c;}
    .flickr { background: #ff61e7;}
    .flickr:hover {	background: #fa00d4;}
    .github {background: #666666;}
    .github:hover {	background: #333333;}
    .instagram {	background: #d6917a;}
    .instagram:hover {background: #b35637;}
    .skype {background: #32c8de;}
    .skype:hover {background: #188392;}
    .tumblr {background: #84a1c8;}
    .tumblr:hover {background: #476d9f;}
    .vimeo {background: #32c8de;}
    .vimeo:hover {background: #188392;}
    .dribbble{background: #ff2edf;}
    .dribbble:hover {background: #c700a9;}
    .youtube {background: #ed5441;}
    .youtube:hover {	background: #b72411;}


    /* General CSS */
    body{
        background:#f4f8fd;
    }
    .ui-1{
        margin:40px 0px;
    }
    /* UI Item */
    .ui-1 .ui-item{
        padding:25px 30px;
        margin:20px auto;
        border:1px solid #e8e8e8;
        background:#fff;
        box-shadow:3px 3px 0px 1px rgba(0,0,0,0.06);
        border-radius:4px;
    }
    @media (max-width: 991px){
        .ui-1 .ui-item {
            max-width: 480px;
        }
    }
    /* UI Item Border */
    .ui-1 .br-red{
        border-left:5px solid #d9534f;
    }
    .ui-1 .br-green{
        border-left:5px solid #5cb85c;
    }
    .ui-1 .br-blue{
        border-left:5px solid #5bc0de;
    }
    .ui-1 .br-yellow{
        border-left:5px solid #f0ad4e;
    }
    /* UI Details */
    .ui-1 .ui-item .ui-details{
        line-height:65px;
        margin-bottom: 10px;
    }
    @media (max-width: 991px){
        .ui-1 .ui-item .ui-details{
            margin-bottom: 0px;
        }
    }
    /* Heading */
    .ui-1 .ui-item .ui-details h2{
        font-size: 22px;
        font-weight:400;
        line-height: 24px;
        float:left;
    }
    @media (max-width: 991px){
        .ui-1 .ui-item .ui-details h2{
            float:none;
        }
    }
    /* Button */
    .ui-1 .ui-item .ui-details a.btn{
        float:right;
        border:0px;
        font-weight:600;
        padding:10px 12px;
        font-size:15px;
        position:relative;
        top:-5px;
    }
    @media (max-width: 991px){
        .ui-1 .ui-item .ui-details a.btn{
            float:none;
            position:static;
        }
    }
    /* Paragraph */
    .ui-1 .ui-item p{
        font-size: 14px;
        line-height: 30px;
        color:#999;
    }