/* START Main START */
.bodyLogin {
    background-color: #007bff;
}

.toast {
    position: fixed;
    width: 250px;
    top: 15px;
    right: 31px;
    opacity: 1;
    z-index: 100000;
}

span.text-primary {
    cursor: pointer;
}

span.text-primary:hover {
    text-decoration: underline;
}

.toast .toast-header, .toast .toast-body {
    background-color: #fff;
}

.toast img {
    width: 20px;
    height: 20px;
}

.none {
    display: none;
}

.loadOk, .block {
    display: block !important;
}

label {
    cursor: pointer;
}

.selected {
    text-decoration: underline;
}

.idUser {
    cursor: pointer;
    transition: background-color .3s;
}

.idUser:hover {
    background-color: #F3F3F3;
}

.hoverColumn th {
    cursor: pointer;
    transition: background-color .3s;
}

.hoverColumn th:hover {
    background-color: #F3F3F3;
}

.hoverColumnActive {
    background-color: #A6D1FF !important;
}

.hoverColumn th span {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.logo {
    width: 40px !important;
}

.prompt {
    cursor: pointer;
}

.logo span {
    position: absolute;
    bottom: 8px;
    left: 61px;
}

.pageCount {
    width: 70px !important;
}

.header-h3 div {
    background: #007bff;
    width: 15px;
}

.header-h3 h3 {
    padding-top: 5px;
    margin-left: 15px;
}

.info {
    cursor: pointer;
}

.page-item {
    cursor: pointer;
}

.list-group-flush span {
    font-size: 20px;
}
/* END Main END */

/* START Reports START */
.highcharts-figure, .highcharts-data-table table {
    min-width: 360px;
    max-width: 100%;
    height: 400px;
    margin: 1em 0 100px 0;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
/* END Reports END */

/* START Loader START */
.wrapper_hide {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
}

.wrapper_hide img {
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    left: calc(50% - 15px);
}
/* END Loader END */

/* START Vue animation START */
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
/* END Vue animation END */