{% extends 'layout.twig' %}

{% block content %}

    <div class="ui-178" :class="data_bot.bot == 0 || data_bot.bot.length || data_bot.bot ? 'loadOk' : ''">

        <div class="container">

            <div class="btn-group mb-3" role="group" aria-label="Basic example">
                <button @click="updateSection(0)" type="button" :class="section == 0 ? 'btn btn-primary' : 'btn btn-outline-primary'">Общая информация</button>
                <button @click="updateSection(1)" type="button" :class="section == 1 ? 'btn btn-primary' : 'btn btn-outline-primary'">Управление тарифом</button>
                <button @click="updateSection(2)" type="button" :class="section == 2 ? 'btn btn-primary' : 'btn btn-outline-primary'">Настройки бота</button>
            </div>

            <div class="row mb-4">
                <div class="col-3">Баланс<br><span class="badge badge-primary badge-pill">${data_bot.balance} ₽</span></div>
                <div class="col-3">Сумарная стоимость<br><span class="badge badge-primary badge-pill">${data_bot.sum} ₽/день</span></div>
                <div class="col-3">Дата блокировки<br><span class="badge badge-primary badge-pill">${data_bot.date_block}</span></div>
                <div class="col-3">Дней до блокировки<br><span class="badge badge-primary badge-pill">${data_bot.days}</span></div>
            </div>

            <div v-if="section == 0" class="row">
                <div class="col">
                    <!-- Main Item Starts -->
                    <div class="col">

                        <!-- User Details Starts -->
                        <div class="ui-user clearfix">
                            <!-- User Image -->
                            <a target="_blank" :href="'https://t.me/' + data_bot.bot.username"><img :src="'{{ data.url }}' + data_bot.bot.url_photo" alt="" class="img-responsive" /></a>


                            <!-- UserName And Designation -->
                            <h2>
                                <a target="_blank" :href="'https://t.me/' + data_bot.bot.username">${data_bot.bot.first_name}</a>
                                <span>
                                    @${data_bot.bot.username}
                                    <svg @click="updateInfoBot()" role="button" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat blue" viewBox="0 0 16 16">
                                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                                    </svg>
                                </span>
                            </h2>

                        </div>
                        <!-- User Details Ends -->

                        <!-- Skills Starts -->
                        <div class="ui-skills">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                                    <!-- Item -->
                                    <div class="uis-item">
                                        <!-- Heading -->
                                        <h4>Пользователи</h4>
                                        <!-- Progress -->
                                        <div class="progress">
                                            <!-- Progress Bar -->
                                            <div class="progress-bar" :class="getColor(data_bot.limits.users.percent)" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" :style="'width:' + data_bot.limits.users.percent + '%;'">${data_bot.limits.users.count}/${data_bot.limits.users.limit}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                                    <!-- Item -->
                                    <div class="uis-item">
                                        <!-- Heading -->
                                        <h4>Мобильные прокси</h4>
                                        <!-- Progress -->
                                        <div class="progress">
                                            <!-- Progress Bar -->
                                            <div class="progress-bar" :class="getColor(data_bot.limits.proxy_1.percent)" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" :style="'width:' + data_bot.limits.proxy_1.percent + '%;'">${data_bot.limits.proxy_1.count}/${data_bot.limits.proxy_1.limit}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                                    <!-- Item -->
                                    <div class="uis-item">
                                        <!-- Heading -->
                                        <h4>Серверные прокси</h4>
                                        <!-- Progress -->
                                        <div class="progress">
                                            <!-- Progress Bar -->
                                            <div class="progress-bar" :class="getColor(data_bot.limits.proxy_0.percent)" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" :style="'width:' + data_bot.limits.proxy_0.percent + '%;'">${data_bot.limits.proxy_0.count}/${data_bot.limits.proxy_0.limit}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 col-mob">
                                    <!-- Item -->
                                    <div class="uis-item">
                                        <!-- Heading -->
                                        <h4>Рассылки</h4>
                                        <!-- Progress -->
                                        <div class="progress">
                                            <!-- Progress Bar -->
                                            <div class="progress-bar" :class="getColor(data_bot.limits.dispatch.percent)" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" :style="'width:' + data_bot.limits.dispatch.percent + '%;'">${data_bot.limits.dispatch.count}/${data_bot.limits.dispatch.limit}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Skills Ends -->

                        <!-- Chart Starts -->
                        <div class="ui-chart">
                            <div class="card shadow mb-5 mt-5">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Количество пользователей</b> - <span :class="data.count_users > 0 ? 'text-success' : 'text-danger'">${ data.count_users }</span></li>
                                        <li class="list-group-item"><b>Количество пришедших по реферальной системе</b> - <span :class="data.count_parent > 0 ? 'text-success' : 'text-danger'">${ data.count_parent }</span></li>
                                        <li class="list-group-item"><b>Количество активных пользователй</b> - <span :class="data.count_active > 0 ? 'text-success' : 'text-danger'">${ data.count_active }</span></li>
                                        <li class="list-group-item"><b>Количество заблокированных пользователей</b> - <span class="text-danger">${ data.count_blocked }</span></li>
                                    </ul>
                                </div>
                            </div>
                            <p>Выбрать другой год</p>
                            <select v-model="selectedYear" @change="getStatisticsUsers()" class="form-control col-md-2">
                                <option v-for="year in data.years" :value="year">${ year }</option>
                            </select>
                            <figure class="highcharts-figure">
                                <div id="container"></div>
                            </figure>
                            <div id="plot-chart-two" class="chart-placeholder"></div>
                        </div>
                        <!-- Chart Ends -->

                    </div>
                    <!-- Main Item Ends -->
                </div>
            </div>



            <div v-if="section == 1"  class="ui-1">


                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-red">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>Пользователи</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> До 10 тысяч пользователей в боте</p>
                            <br>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()"  v-model="data_bot.functions.current_bot_users"  type="checkbox" class="custom-control-input" id="typeDay1">
                                <label  class="custom-control-label" for="typeDay1">${data_bot.current_mas.current_bot_users}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-green">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>Рассылки</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> До 100 рассылок в месяц</p>
                            <br>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()"  v-model="data_bot.functions.current_bot_dispatch"  type="checkbox" class="custom-control-input" id="typeDay2">
                                <label  class="custom-control-label" for="typeDay2">${data_bot.current_mas.current_bot_dispatch}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>

                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-red">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>Мобильные прокси</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> До 2000 мобильных прокси</p>
                            <br>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()"  v-model="data_bot.functions.current_bot_proxy_1"  type="checkbox" class="custom-control-input" id="typeDay3">
                                <label  class="custom-control-label" for="typeDay3">${data_bot.current_mas.current_bot_proxy_1}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-green">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>Серверные прокси</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> До 20000 серверных прокси</p>
                            <br>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()"  v-model="data_bot.functions.current_bot_proxy_0"   type="checkbox" class="custom-control-input" id="typeDay4">
                                <label  class="custom-control-label" for="typeDay4">${data_bot.current_mas.current_bot_proxy_0}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>

                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-red">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>Экспорт пользователей</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> Позволяет экспортировать пользователей в CSV формате</p>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()"  v-model="data_bot.functions.current_bot_export"  type="checkbox" class="custom-control-input" id="typeDay5">
                                <label  class="custom-control-label" for="typeDay5">${data_bot.current_mas.current_bot_export}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>
                    <div class="col-12 col-lg-4 col-md-4">
                        <!-- UI Item Starts -->
                        <div class="ui-item br-green">
                            <!-- UI Details -->
                            <div class="ui-details">
                                <!-- Heading -->
                                <h2>API</h2>
                            </div>
                            <div class="clearfix"></div>
                            <!-- Paragraph -->
                            <p> Необходим для интеграции с вашими ресурсами</p>
                            <!-- Button -->
                            <div class="custom-control custom-switch my-2">
                                <input @change="changeRate()" v-model="data_bot.functions.current_bot_api"  type="checkbox" class="custom-control-input" id="typeDay6">
                                <label  class="custom-control-label" for="typeDay6">${data_bot.current_mas.current_bot_api}₽ / День</label>
                            </div>
                        </div>
                        <!-- UI Item Ends -->
                    </div>

                    <div>
                        <button @click="updateRate()" type="button" class="ml-3 btn btn-success">Изменить тариф</button>
                        <span class="ml-3 mt-2">Стоимость перехода ${count}₽</span>
                    </div>


                    <div class="col ml-3 mt-2 text-right">
                        <a target="_blank" href="https://t.me/AVposting">Нужны особые условия?</a>
                    </div>

                </div>
            </div>

            <div v-if="section == 2"  class="ui-1">
                <h3>Настройка платежной системы Qiwi</h3>
                <form class="bg-grey p-3 rounded">
                    <label>Киви кошелек</label>
                    <input v-model="data_bot.bot.settings.qiwi.number" type="text" class="form-control" placeholder="Укажите Qiwi кошелек">
                    <label>Api токен</label>
                    <input v-model="data_bot.bot.settings.qiwi.token"  type="text" class="form-control" placeholder="Укажите Api токен">

                    <button @click="updateQiwi()" type="button" class="mt-3 btn btn-success">Изменить</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}


{% block modal %}

{% endblock %}


{% block footer %}
    <script src="{{ data.url }}/resources/js/bot/bot.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
{% endblock %}