{% extends 'layout.twig' %}

{% block content %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <p @click="showPrompt" class="mt-5 text-primary prompt">${ textPrompt } <span style="font-size: 12px">${ prompt ? '▲' : '▼' }</span></p>

    <div :class="!prompt ? 'none' : ''">
        <div class="table-content table-responsive none mt-1 shadow p-3 mb-5 bg-white rounded" :class="data.countries.length == 0 || Object.keys(data.countries).length || data.countries ? 'loadOk' : ''">

            <div class="row">
                <div class="col text-left">
                    <button type="button" class="btn btn-info btn-circle" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </button>
                </div>
                <div class="col text-right">
                    <button data-toggle="modal" data-target="#createCategory" class="btn btn-success">Добавить Страну - Город</button>
                </div>
            </div>

            <div class="m-2 collapse" id="collapseExample">
                <div class="card card-body">
                    В данном разделе необходимо создать связку Страна + Город и + Мобильный оператор для мобильных прокси.
                    При покупке прокси пользователь будет видеть кнопки из текущего раздела.
                    При создании прокси привязка значений из текущего раздела обязательна.
                </div>
            </div>

            <table class="mt-2 table table-sm">
                <thead>
                <tr>
                    <th scope="col">Тип прокси</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Город</th>
                    <th scope="col">Оператор</th>
                    <th class="text-center" scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="data.countries.length != 0">
                    <tr v-for="(country, index) in data.countries">
                        <td>
                            <span v-if="country.type_proxy == 1">
                                Мобильные
                            </span>
                            <span v-else>
                                Серверные
                            </span>
                        </td>
                        <td>${country.name}</td>
                        <td>${country.city}</td>
                        <td>${country.mobile_operator ? country.mobile_operator : '-'}</td>
                        <td align="center">
                            <button @click="editDataChange(data.countries[index], index)" data-toggle="modal" data-target="#editCategory" class="btn btn-primary">Редактировать</button>
                            <button @click="deleteIndex = index" data-toggle="modal" data-target="#deleteCategory" class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                </template>
                <template v-else>
                    <tr align="center">
                        <td class="py-4" colspan="5">
                            Запись не найдена
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>



    <p @click="showPrompt3" class="mt-5 text-primary prompt">${ textPrompt3 } <span style="font-size: 12px">${ prompt3 ? '▲' : '▼' }</span></p>

    <div :class="!prompt3 ? 'none' : ''">
        <div class="table-content table-responsive none mt-1 shadow p-3 mb-5 bg-white rounded" :class="data.countries.categories == 0 || Object.keys(data.categories).length || data.categories ? 'loadOk' : ''">

            <div class="row">

                <div class="col text-left">
                    <button type="button" class="btn btn-info btn-circle" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </button>
                </div>

                <div class="col text-right">
                    <button data-toggle="modal" data-target="#createUserCategory" class="btn btn-success">Добавить Категорию</button>
                </div>
            </div>

            <div class="m-2 collapse" id="collapseCategory">
                <div class="card card-body">
                    В данном разделе необходимо создать связку Категория + Раздел. Например Соц.Сети -> ВК
                    Служит в качестве навигационной настройки для пользователя.
                    При создании прокси можно указывать только категорию, без раздела. Например Другие сайты
                </div>
            </div>


            <table class="mt-2 table table-sm">
                <thead>
                <tr>
                    <th scope="col">Категория</th>
                    <th scope="col">Раздел</th>
                    <th class="text-center" scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="data.categories.length != 0">
                    <tr v-for="(category, index) in data.categories">
                        <td>${category.category}</td>
                        <td>${category.section ? category.section : '-'}</td>
                        <td align="center">
                            <button @click="editDataChange(data.categories[index], index)" data-toggle="modal" data-target="#editUserCategory" class="btn btn-primary">Редактировать</button>
                            <button @click="deleteIndex = index" data-toggle="modal" data-target="#deleteUserCategory" class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                </template>
                <template v-else>
                    <tr align="center">
                        <td class="py-4" colspan="5">
                            Запись не найдена
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
    </div>



    <p @click="showPrompt1" class="mt-5 text-primary prompt">${ textPrompt1 } <span style="font-size: 12px">${ prompt1 ? '▲' : '▼' }</span></p>

    <div :class="!prompt1 ? 'none' : ''">

        <div class="table-content table-responsive none mt-1 shadow p-3 mb-5 bg-white rounded" :class="data.private != null && (Object.keys(data.private).length || servers) ? 'loadOk' : ''">


            <div class="mb-4 col text-left">
                <button type="button" class="btn btn-info btn-circle" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="false" aria-controls="collapsePrivate">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </button>
            </div>

            <div class="m-2 collapse" id="collapsePrivate">
                <div class="card card-body">
                    В магазине могут продаваться прокси с 3 типами приватности. Включите типы, которые будут использоваться в вашем магазине. При создании и импорте прокси определение типа приватности обязательно.
                </div>
            </div>


            <div class="custom-control custom-switch my-2">
                <input v-model="data.private.shared" type="checkbox" class="custom-control-input" id="typeDay1">
                <label  class="custom-control-label" for="typeDay1">Шаред</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input  v-model="data.private.pprivate" type="checkbox" class="custom-control-input" id="typeDay2">
                <label  class="custom-control-label" for="typeDay2">Полуприват</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input  v-model="data.private.private" type="checkbox" class="custom-control-input" id="typeDay3">
                <label  class="custom-control-label" for="typeDay3">Приват</label>
            </div>
            <button @click="savePrivate()"  class="btn btn-primary">Сохранить</button>
        </div>
    </div>


    <p @click="showPrompt2" class="mt-5 text-primary prompt">${ textPrompt2 } <span style="font-size: 12px">${ prompt2 ? '▲' : '▼' }</span></p>

    <div :class="!prompt2 ? 'none' : ''">
        <div class="table-content table-responsive none mt-1 shadow p-3 mb-5 bg-white rounded" :class="data.protocols &&  (Object.keys(data.protocols).length || servers) ? 'loadOk' : ''">

            <div class="mb-4 col text-left">
                <button type="button" class="btn btn-info btn-circle" data-toggle="collapse" data-target="#collapseProtocol" aria-expanded="false" aria-controls="collapseProtocol">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                    </svg>
                </button>
            </div>

            <div class="m-2 collapse" id="collapseProtocol">
                <div class="card card-body">
                    В магазине могут продаваться прокси с 6 протоколами. Включите протоколы, которые будут использоваться в вашем магазине. При создании и импорте прокси определение протокола обязательно.
                </div>
            </div>

            <div class="custom-control custom-switch my-2">
                <input  v-model="data.protocols.ipv4_https" type="checkbox" class="custom-control-input" id="typeDay4">
                <label  class="custom-control-label" for="typeDay4">IPV4 HTTPS</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input v-model="data.protocols.ipv4_socks5" type="checkbox" class="custom-control-input" id="typeDay5">
                <label  class="custom-control-label" for="typeDay5">IPV4 SOCKS5</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input v-model="data.protocols.ipv4_https_socks5" type="checkbox" class="custom-control-input" id="typeDay6">
                <label  class="custom-control-label" for="typeDay6">IPV4 HTTPS/SOCKS5</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input v-model="data.protocols.ipv6_https" type="checkbox" class="custom-control-input" id="typeDay7">
                <label  class="custom-control-label" for="typeDay7">IPV6 HTTPS</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input v-model="data.protocols.ipv6_socks5" type="checkbox" class="custom-control-input" id="typeDay8">
                <label  class="custom-control-label" for="typeDay8">IPV6 SOCKS5</label>
            </div>
            <div class="custom-control custom-switch my-2">
                <input  v-model="data.protocols.ipv6_https_socks5"  type="checkbox" class="custom-control-input" id="typeDay9">
                <label class="custom-control-label" for="typeDay9">IPV6 HTTPS/SOCKS5</label>
            </div>
            <button @click="saveProtocols()"  class="btn btn-primary">Сохранить</button>
        </div>
    </div>

{% endblock %}


{% block modal %}
    {% include 'home/modals/category/createCategory.twig' %}
    {% include 'home/modals/category/editCategory.twig' %}
    {% include 'home/modals/category/deleteCategory.twig' %}
    {% include 'home/modals/category/createUserCategory.twig' %}
    {% include 'home/modals/category/editUserCategory.twig' %}
    {% include 'home/modals/category/deleteUserCategory.twig' %}
{% endblock %}


{% block footer %}
    <script src="{{ data.url }}/resources/js/category/category.js"></script>
{% endblock %}