{% extends 'layout.twig' %}

{% block content %}

        <div class="table-content table-responsive none mt-1 shadow p-3 mb-5 bg-white rounded" :class="Object.keys(data.current_list).length || data.current_list ? 'loadOk' : ''">
            <div class="row">
                <div class="col text-left">
                    <button type="button" class="btn btn-info btn-circle" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-question" viewBox="0 0 16 16">
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                        </svg>
                    </button>
                </div>
                <div class="col text-right">
                    <button data-toggle="modal" data-target="#createCurrently" class="btn btn-success">Добавить настройку</button>
                </div>
            </div>

            <div class="m-2 collapse" id="collapseExample">
                <div class="card card-body">
                    В данном разделе создаются цены на прокси. Можно комбинировать различные типы настроек прокси и количество дней.<br>
                    При выборе прокси пользователем бот будет искать цены из текущей таблицы. Иначе бот выдаст ошибку.</pre>
                </div>
            </div>

            <table class="mt-2 table table-sm">
                <thead>
                <tr>
                    <th scope="col">Количество дней</th>
                    <th scope="col">Сумма</th>
                    <th scope="col">Тип прокси</th>
                    <th scope="col">Страна</th>
                    <th scope="col">Категория</th>
                    <th scope="col">Приватность</th>
                    <th scope="col">Протокол</th>
                    <th class="text-center" scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <template v-if="data.current_list.length != 0">
                    <tr  v-for="(current, index) in data.current_list">
                        <td class="text-center">${current.count_day}</td>
                        <td>${current.sum} руб.</td>
                        <td>
                            <span v-if="current.type_proxy == 1">
                                Мобильные
                            </span>
                            <span v-else>
                                Серверные
                            </span>
                        </td>
                        <td>${current.country.name} -> ${current.country.city} ${current.country.mobile_operator ? ' -> ' + current.country.mobile_operator : ''}</td>
                        <td>${current.category.category} ${current.category.section ? ' -> ' + current.category.section : ''}</td>
                        <td>${data.textArr[current.private]}</td>
                        <td>${data.textArr[current.protocol]}</td>
                        <td align="center">
                            <button @click="editDataChange(data.current_list[index], index)" data-toggle="modal" data-target="#editCurrent" class="btn btn-primary">Редактировать</button>
                            <button @click="deleteIndex = index" data-toggle="modal" data-target="#deleteCurrent" class="btn btn-danger">Удалить</button>
                        </td>
                    </tr>
                </template>
                <template v-else>
                    <tr align="center">
                        <td class="py-4" colspan="5">
                            Запись не найдена
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>





{% endblock %}



{% block modal %}
    {% include 'home/modals/currently/createCurrently.twig' %}
    {% include 'home/modals/currently/editCurrent.twig' %}
    {% include 'home/modals/currently/deleteCurrent.twig' %}
{% endblock %}


{% block footer %}
    <script src="{{ data.url }}/resources/js/currently/currently.js"></script>
{% endblock %}