{% extends 'layout.twig' %}

{% block content %}
    <div class="table-content table-responsive shadow p-3 mb-5 mt-5 bg-white rounded">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-end">
                <button :disabled="text === ''" @click="sendLetter" type="button" class="btn btn-primary">Отправить</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div class="d-flex justify-content-start">
                        <div class="col-md-2 mb-3 pl-0">
                            <h6>Кому отправлять?</h6>
                            <select v-model="recipient" @change="choiceRecipient" class="form-control">
                                <option value="0">Всем</option>
                                <option value="1">Выбранному пользователю</option>
                            </select>
                        </div>
                        <div :class="{block: oneUser}" class="col-md-2 mb-3 pr-0 none">
                            <h6>Введите ID пользователя?</h6>
                            <input v-model="userId" type="text" class="form-control" placeholder="ID">
                        </div>
                    </div>
                    <h5>Текст сообщения</h5>
                    <textarea v-model="text" rows="10" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="resources/js/letter/letter.js"></script>
{% endblock %}