{% extends 'layout.twig' %}

{% block content %}

    <div class="btn-group my-4" role="group" aria-label="Basic example">
        <button @click="updateProxy(0)" type="button" :class="typeProxy == 0 ? 'btn btn-primary' : 'btn btn-outline-primary'">Серверные прокси</button>
        <button @click="updateProxy(1)" type="button" :class="typeProxy == 1 ? 'btn btn-primary' : 'btn btn-outline-primary'">Мобильные прокси</button>
    </div>

    <div class="table-content table-responsive none shadow p-3 mb-5 bg-white rounded" :class="data.users_proxy == 0 || data.users_proxy.length || data.users_proxy ? 'loadOk' : ''">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <select v-model="limit" @change="onChangeFilters(1)" class="custom-select mr-sm-2 pageCount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <div class="col text-left">
                    <button data-toggle="modal" data-target="#importProxy" class="btn btn-info">Импорт прокси</button>
                </div>
                <div class="col text-right">
                    <a @click="reset" href="" class="text-primary px-2">Сбросить фильтры</a>
                    <a :href="'proxy/add/' + typeProxy"><button class="btn btn-success">Добавить прокси</button></a>
                </div>
            </div>

            <div class="card-body">
                <div class="form-inline d-flex justify-content-between pt-3 pb-3">
                    <select v-model="selectedStatus" @change="onChangeFilters(1)" class="form-control mb-3">
                        <option disabled value="default">Выборка по статусу</option>
                        <option value="all">Все</option>
                        <option value="1">В продаже</option>
                        <option value="0">Куплены</option>
                        <option value="0">Ожидают продления</option>
                    </select>
                    <select v-model="selectedServer" @change="onChangeFilters(1)" class="form-control mb-3">
                        <option disabled value="default">Выборка по серверу</option>
                        <option value="all">Все</option>
                        <option v-for="server in data.servers" :value="server.id">${server.name}</option>
                    </select>
                    <select v-model="selectedCountry" @change="onChangeFilters(1)" class="form-control mb-3">
                        <option disabled value="default">Выборка по Стране</option>
                        <option value="all">Все</option>
                        <option v-for="country in data.countries" :value="country.id">${country.name} -> ${country.city} ${country.type_proxy == 1 ? ' -> ' + country.mobile_operator : ''}</option>
                    </select>
                    <select v-model="selectedCategory" @change="onChangeFilters(1)" class="form-control mb-3">
                        <option disabled value="default">Выборка по Категории</option>
                        <option value="all">Все</option>
                        <option v-for="category in data.categories" :value="category.id">${category.category} -> ${category.section}</option>
                    </select>
                    <div class="input-group mb-3">
                        <input v-model="search" @keyup.enter="onChangeFilters(1)" type="text" class="form-control" placeholder="Логин | Пароль | Порт" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button @click="onChangeFilters(1)" class="btn btn-outline-secondary" type="button">Найти</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div v-if="Object.keys(checkedIdArr).length > 0" class="col text-left">
                        <button data-toggle="modal" data-target="#deleteProxy"  class="btn btn-danger">Удалить выбранные прокси (${Object.keys(checkedIdArr).length} шт.)</button>
                    </div>
                </div>
                 <div class="table-responsive">
                    <table class="mt-2 table table-sm">
                        <thead>
                        <tr class="hoverColumn">
                            <th @click="sorterCol('ip', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'ip'}">
                                ip адрес <span v-if="sorter == 'ip'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col"  @click="sorterCol('port_https', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'port_https'}">
                                Порт https <span v-if="sorter == 'port_https'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col" @click="sorterCol('port_socks', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'port_socks'}">
                                Порт socks <span v-if="sorter == 'port_socks'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col" @click="sorterCol('country_id', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'country_id'}">
                                Страна <span v-if="sorter == 'country_id'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col">Город</th>
                            <th v-if="typeProxy == 1" scope="col">Оператор</th>
                            <th scope="col" @click="sorterCol('category_id', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'category_id'}">
                                Категория <span v-if="sorter == 'category_id'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col">Раздел</th>
                            <th scope="col" @click="sorterCol('type_private_proxy', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'type_private_proxy'}">
                                Тип прокси <span v-if="sorter == 'type_private_proxy'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col" @click="sorterCol('protocol_proxy', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'protocol_proxy'}">
                                Протокол <span v-if="sorter == 'protocol_proxy'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th v-if="typeProxy == 1" scope="col">Ротация</th>
                            <th scope="col" @click="sorterCol('str_pay', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'str_pay'}">
                                Куплено <span v-if="sorter == 'str_pay'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col" @click="sorterCol('str_date_end', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'str_date_end'}">
                                Действует до <span v-if="sorter == 'str_date_end'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th scope="col">Пользователь</th>
                            <th scope="col" @click="sorterCol('status', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'status'}">
                                Статус <span v-if="sorter == 'status'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="data.users_proxy.length != 0 && data.users_proxy != 0">
                            <tr v-for="(proxy, index) in data.users_proxy">
                                <td>
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input :key="proxy.id" type="checkbox" class="custom-control-input" :id="proxy.id" name="example1" :value="proxy.id" @change="checkboxClick($event)">
                                        <label class="custom-control-label" :for="proxy.id"><a :href="'proxy/edit/' + proxy.id">${proxy.ip}</a></label>
                                    </div>
                                </td>
                                <td>${proxy.port_https}</td>
                                <td>${proxy.port_socks}</td>
                                <td>${proxy.country.name}</td>
                                <td>${proxy.country.city}</td>
                                <td v-if="typeProxy == 1">${proxy.country.mobile_operator}</td>
                                <td>${proxy.category.category}</td>
                                <td>${proxy.category.section ? proxy.category.section : '-'}</td>
                                <td>${data.textArr[proxy.type_private_proxy]}</td>
                                <td>${data.textArr[proxy.protocol_proxy]}</td>
                                <td v-if="typeProxy == 1">${proxy.rotations} мин.</td>
                                <td>${proxy.str_pay > 0 ? filterDate(proxy.str_pay) : '-'}</td>
                                <td>${proxy.str_date_end > 0 ? filterDate(proxy.str_date_end) : '-'}</td>
                                <td>@${data.username}</td>
                                <td>
                                    <span class="text-info" v-if="proxy.status == 1">В продаже</span>
                                    <span class="text-success" v-if="proxy.status == 0">Куплен</span>
                                </td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr align="center">
                                <td class="py-4" :colspan="typeProxy == 1 ? '15' : '13'">
                                    Прокси не найдены
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th :colspan="typeProxy == 1 ? '15' : '13'">
                                <div @click="checkedIdArr = {}">
                                    {% include 'home/paginate/paginate.twig' %}
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                 </div>
                <p class="mt-3">Найдено прокси: <b>${ paginate.countEl }</b></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% include 'home/modals/proxy/deleteProxy.twig' %}
    {% include 'home/modals/proxy/importProxy.twig' %}
{% endblock %}

{% block footer %}
    <script src="{{ data.url }}/resources/js/proxy/proxy.js"></script>
{% endblock %}