{% extends 'layout.twig' %}

{% block content %}
    <script>window.proxy_id = {{ data.proxy_id }}</script>
    <div class=" mt-5 shadow p-3 mb-5 rounded">
        <form novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>IP адрес</label>
                    <input type="text" v-model="proxy.ip" class="form-control" placeholder="Введите IP адрес">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Порт HTTPS</label>
                    <input type="text" v-model="proxy.port_https" class="form-control" placeholder="Введите HTTPS порт">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Порт Socks</label>
                    <input type="text" v-model="proxy.port_socks" class="form-control" placeholder="Введите Socks порт">
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Логин</label>
                    <input type="text" v-model="proxy.login" class="form-control" placeholder="Введите логин">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Пароль</label>
                    <input type="text" v-model="proxy.password" class="form-control" placeholder="Введите пароль">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Сервер</label>
                    <select  v-model="proxy.server_id" class="form-control">
                        <option disabled value="">Выберите необходимое значение</option>
                        <option :value="server.id" v-for="server in data.servers">${server.name}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Город + Страна <span v-if="proxy.type_proxy == 1"> + Оператор</span></label>
                    <select  v-model="proxy.country_id" class="form-control">
                        <option disabled value="">Выберите необходимое значение</option>
                        <option :value="country.id" v-for="country in data.countries">${country.name} -> ${country.city}  ${proxy.type_proxy == 1 ? ' -> ' + country.mobile_operator : ''}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Категория + Раздел</label>
                    <select  v-model="proxy.category_id" class="form-control">
                        <option disabled value="">Выберите необходимое значение</option>
                        <option :value="category.id" v-for="category in data.categories">${category.category} ${category.section ? ' -> ' + category.section : ''}</option>
                    </select>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label>Тип прокси</label>
                    <select  v-model="proxy.type_private_proxy" class="form-control">
                        <option disabled value="">Выберите необходимое значение</option>
                        <option :value="private.value" v-for="private in data.arrTypeProxy">${private.name}</option>
                    </select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Протокол</label>
                    <select  v-model="proxy.protocol_proxy" class="form-control">
                        <option disabled value="">Выберите необходимое значение</option>
                        <option :value="protocol.value" v-for="protocol in data.arrProtocolsProxy">${protocol.name}</option>
                    </select>
                </div>
            </div>
            <div v-if="proxy.type_proxy == 1" class="form-row">
                <div class="col-md-8 mb-3">
                    <label>Ссылка для перезагрузки модема</label>
                    <input type="text" v-model="proxy.url_reload" class="form-control" placeholder="Введите ссылку">
                </div>
                <div class="col-md-4 mb-3">
                    <label>Ротация(в минутах)</label>
                    <input type="text" v-model="proxy.rotations" class="form-control" placeholder="Введите целое число">
                </div>
            </div>

            <button @click="editProxy" class="btn btn-primary col-2" type="button">Сохранить</button>

        </form>
    </div>
{% endblock %}

{% block modal %}

{% endblock %}

{% block footer %}
    <script src="{{ data.url }}/resources/js/proxy/edit.js"></script>
{% endblock %}