{% extends 'layout.twig' %}

{% block content %}
    <div class="none" :class="Object.keys(data).length || data == '0' ? 'loadOk' : ''">
        <div class="card shadow mb-5 mt-5">
            <div class="card-body">
                <h5>Отчетность и статистика по пользователям:</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Количество пользователей</b> - <span :class="data.count_users > 0 ? 'text-success' : 'text-danger'">${ data.count_users }</span></li>
                    <li class="list-group-item"><b>Количество пришедших по реферальной системе</b> - <span :class="data.count_parent > 0 ? 'text-success' : 'text-danger'">${ data.count_parent }</span></li>
                    <li class="list-group-item"><b>Количество активных пользователй</b> - <span :class="data.count_active > 0 ? 'text-success' : 'text-danger'">${ data.count_active }</span></li>
                    <li class="list-group-item"><b>Количество заблокированных пользователей</b> - <span class="text-danger">${ data.count_blocked }</span></li>
                </ul>
            </div>
        </div>
        <p>Выбрать другой год</p>
        <select v-model="selectedYear" @change="getStatisticsUsers()" class="form-control col-md-2">
            <option v-for="year in data.years" :value="year">${ year }</option>
        </select>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
    </div>
{% endblock %}

{% block footer %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <script src="resources/js/reports/reports.js"></script>
{% endblock %}