{% extends 'layout.twig' %}

{% block content %}
    <div class="table-content table-responsive shadow p-3 mb-5 mt-5 bg-white rounded">
        {% if data.errors is empty %}
            <div>
                Отчет не найден
            </div>
        {% else %}
        <ul class="list-group">
            {% for key, error in data.errors %}
                <li class="list-group-item">{{ key }} - {{ error }}</li>
            {% endfor %}
        </ul>

        {% endif %}
    </div>
{% endblock %}

{% block footer %}
{% endblock %}