{% extends 'layout.twig' %}

{% block content %}
    <div class=" mt-5 shadow p-3 mb-5 rounded">
        <form  novalidate>
            <div class="form-row">
                <div class="col mb-3">
                    <label for="validationTooltip01">Имя сервера</label>
                    <input v-model="server.name" type="text" class="form-control" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col mb-3">
                    <label for="validationTooltip01">Описание сервера</label>
                    <input v-model="server.description" type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-8 mb-3">
                    <label for="validationTooltip01">IP</label>
                    <input v-model="server.ip" type="text" class="form-control" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Порт SSH</label>
                    <input v-model="server.port" type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">Логин</label>
                    <input v-model="server.login" type="text" class="form-control" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="validationTooltip01">Пароль</label>
                    <input v-model="server.password" type="text" class="form-control" required>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Локация</label>
                    <input v-model="server.location" type="text" class="form-control" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Розетка сервера</label>
                    <input type="text" class="form-control" disabled required>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationTooltip01">Розетка хаба</label>
                    <input type="text" class="form-control" disabled required>
                </div>
            </div>

            <button @click="createServer" class="btn btn-primary col-2" type="button">Создать</button>
        </form>
    </div>
{% endblock %}

{% block modal %}

{% endblock %}

{% block footer %}
    <script src="{{ data.url }}/resources/js/servers/create.js"></script>
{% endblock %}