{% extends 'layout.twig' %}

{% block content %}

    <div class="table-content table-responsive none mt-5 shadow p-3 mb-5 bg-white rounded" :class="Object.keys(servers).length || servers ? 'loadOk' : ''">

        <div class="col text-right">
            <a href="servers/add"><button class="btn btn-success">Добавить сервер</button></a>
        </div>

        <table class="table table-bordered mt-3" id="dataTable" width="100%" cellspacing="0">
            <thead class="text-center">
            <tr class="hoverColumn">
                <th>id</th>
                <th>имя сервера</th>
                <th>описание</th>
                <th>ip-адрес</th>
                <th>порт ssh</th>
                <th>логин</th>
                <th>пароль</th>
                <th>локация</th>
                <th>статус сервера</th>
                <th>действия</th>
            </tr>
            </thead>
            <tbody>
            <template v-if="servers.length != 0">
                <tr v-for="server in servers">
                    <td class="text-center"><b>${server.id}</b></td>
                    <td>${server.name}</td>
                    <td>${server.description}</td>
                    <td>${server.ip}</td>
                    <td>${server.port}</td>
                    <td>${server.login}</td>
                    <td>${server.password}</td>
                    <td>${server.location}</td>
                    <td>
                        <span class="text-danger"v-if="server.status == 0">Неактивен</span>
                        <span class="text-success" v-else-if="server.status == 1">Активен</span>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Действия</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" :href='"{{ data.url }}/servers/edit/" + server.id'>Редактировать сервер</a>
                            <a role="button" @click="deleteServer(server.id)" class="dropdown-item pointer" >Удалить сервер</a>
                        </div>
                    </td>
                </tr>
            </template>
            <template v-else>
                <tr align="center">
                    <td class="py-4" colspan="12">
                        Сервера не найдены
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modal %}

{% endblock %}

{% block footer %}
    <script src="{{ data.url }}/resources/js/servers/servers.js"></script>
{% endblock %}