{% extends 'layout.twig' %}

{% block content %}
    <div class="none" :class="Object.keys(settings).length || settings == '0' ? 'loadOk' : ''">
        <div class="table-content table-responsive shadow p-3 mb-5 bg-white rounded">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-end">
                    <button @click="updateSettings" type="button" class="btn btn-primary" :disabled="isSave.length == 0">Сохранить</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div v-if="settings.bot.isAdmin">
                            <h4 class="mt-2">Основные настройки</h4>
                            <select class="form-control mb-3" v-model="settingMainId" @change="nextSettings">
                                <option disabled value="">Выберите настройку</option>
                                <option v-for="setting in settings.settings_admin" v-if="setting.text == 0" :value="setting.id">${ setting.title }</option>
                            </select>
                            <textarea class="form-control" rows="5" v-model="settingMain" :disabled="settingMainId === ''">${ settingMain }</textarea>
                        </div>
                        <h4 class="mt-4">Редактирование текстов</h4>
                        <select class="form-control mb-3" v-model="settingTextId" @change="nextSettings">
                            <option disabled value="">Выберите настройку</option>
                            <option v-for="(setting, key) in settings.settings_admin" v-if="setting.text == 1" :value="key">${ setting.title }</option>
                        </select>
                        <textarea class="form-control" rows="5" v-model="settingText" :disabled="settingTextId === ''">${ settingText }</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="resources/js/settings/settings.js"></script>
{% endblock %}