{% extends 'layout.twig' %}

{% block content %}
    <div class="table-content table-responsive none mt-5 shadow p-3 mb-5 bg-white rounded" :class="Object.keys(users).length || users == '0' ? 'loadOk' : ''">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between">
                <select v-model="limit" @change="onChangeFilters(1)" class="custom-select mr-sm-2 pageCount">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <a @click="reset" href="" class="text-primary">Сбросить фильтры</a>
            </div>
            <div class="card-body">
                <div class="form-inline d-flex justify-content-between pt-3 pb-3">
                    <select v-model="selectedStatus" @change="onChangeFilters(1)" class="form-control mb-3">
                        <option disabled value="default">Выборка по статусу</option>
                        <option value="all">Все</option>
                        <option value="0">Активные</option>
                        <option value="-1">Заблокированные</option>
                    </select>
                    <div class="input-group mb-3">
                        <input v-model="search" @keyup.enter="onChangeFilters(1)" type="text" class="form-control" placeholder="ID | Имя пользователя" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button @click="onChangeFilters(1)" class="btn btn-outline-secondary" type="button">Найти</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr class="hoverColumn">
                            <th @click="sorterCol('user_id', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'user_id'}">
                                ID <span v-if="sorter == 'user_id'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th @click="sorterCol('username', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'username'}">
                                Имя пользователя <span v-if="sorter == 'username'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th @click="sorterCol('first_name', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'first_name'}">
                                Имя <span v-if="sorter == 'first_name'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th @click="sorterCol('last_name', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'last_name'}">
                                Фамилия <span v-if="sorter == 'last_name'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th @click="sorterCol('_datetime', paginate.pageActive)" :class="{hoverColumnActive: sorter == '_datetime'}">
                                Дата регистрации <span v-if="sorter == '_datetime'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                            <th @click="sorterCol('status', paginate.pageActive)" :class="{hoverColumnActive: sorter == 'status'}">
                                Статус <span v-if="sorter == 'status'">${ sorterType == 'DESC' ? '↓' : '↑' }</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-if="users != '0'">
                            <tr v-for="user in users">
                                <td @click="detailsUser(user)" class="text-primary idUser" data-toggle="modal" data-target="#exampleModalCenter">
                                    ${ user.user_id ? user.user_id : '—' }
                                    <img src="resources/images/details.svg" alt="details" class="ml-1">
                                </td>
                                <td>${ user.username ? user.username : '—' }</td>
                                <td>${ user.first_name ? user.first_name : '—' }</td>
                                <td>${ user.last_name ? user.last_name : '—' }</td>
                                <td>${ user._datetime ? user._datetime : '—' }</td>
                                <td v-if="user.status < 0" class="text-danger">Заблокирован</td>
                                <td v-else class="text-success">Активен</td>
                            </tr>
                        </template>
                        <template v-else>
                            <tr align="center">
                                <td colspan="6">
                                    Пользователи не найдены
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="6">
                                    {% include 'home/paginate/paginate.twig' %}
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p class="mt-3">Найдено пользователей: <b>${ paginate.countEl }</b></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal %}
    {% include 'home/modals/modalsUser.twig' %}
{% endblock %}

{% block footer %}
    <script src="resources/js/user/user.js"></script>
{% endblock %}